<section class="group-section">
  <h1>Grupos para cotizar</h1>
    <p>Clint Id: {{group.clientId}}</p>
    <input type="text" (input)="sendClientId($event)" >
    <ul>
      @for (resume of group.groupTuplesReadingLists; track $index) {
        <h2>grupo: {{$index}}</h2>
        <ul>
          @for (item of resume.readingAmountList; track $index) {
            <p>Libro id: {{item.readingId}}</p>
            <p>Cantida: {{item.amount}}</p>
          }
        </ul>
      }
    </ul>
  <button class="to-quote__send" (click)="sendGroup(group)">Cotizar grupos</button>
<app-modal-block [showModal]="showModal" (closeModal)="closeModal()" [results]="results"></app-modal-block>

</section>
