<section class="group-section">
  <h1 class="group-section__title">Grupos para cotizar</h1>
  <label for="">Clint Id: </label>
    <p >{{group.clientId}}</p>
    <input class="clientId-input" type="text" (input)="sendClientId($event)" >
    <ul>
      @for (resume of group.groupTuplesReadingLists; track $index) {
        <h3>grupo: {{$index+1}}</h3>
        <ul>
          @for (item of resume.readingAmountList; track $index) {
            <article class="group-section__item">
            <label for="">Libro id:  </label>
            <p>{{item.readingId}}</p>
            <p>Cantida: {{item.amount}}</p>
          </article>
          }
        </ul>
      }
    </ul>
  <button class="to-quote__send" (click)="sendGroup(group)">Cotizar grupos</button>
<app-modal-block [showModal]="showModal" (closeModal)="closeModal()" [results]="results"></app-modal-block>

</section>
