@if (showModal) {
<dialog class="modal">
  <section class="modal-content">
    @if (results) {
    <h1>Cotizacion Solicitada:</h1>
    <p>Cliente: {{results.nameClien}}</p>
    <p>Gran Total: ${{results.totalGroup}}</p>
    <p>Descuento Total: ${{results.discountGroup}}</p>
    @for (resume of results.resumeList; track $index) {
      <article class="modal-group">
    <h2>Grupo: {{$index + 1}}</h2>
    <p>Cliente: {{resume.nameClient}}</p>
    <p>Fecha Inicio Cliente: {{resume.startDate}}</p>
    <p>Tipo de cotizacion: {{resume.quoteType}}</p>
    <p>Descuento: {{resume.discount}}</p>
    <p>Total: {{resume.total}}</p>
    @for (item of resume.itemList; track $index) {
      <article class="modal-item">
    <h3>Libro {{$index+1}}</h3>
    <h4>{{item.title}}</h4>
    <p>Autor: {{item.author}}</p>
    <p>Tipo: {{item.type}}</p>
    <p>Precion Original: {{item.originalPrice}}</p>
    <p>Descuento: {{item.discount}}</p>
    <p>Precio Final: {{item.finalPrice}}</p>
    <p>Cantidad: {{item.amount}}</p>
  </article>
    }
  </article>
    }

    }
    <button class="modal-content__close" (click)="closeModal2()">Cerrar</button>
  </section>
</dialog>
}
